* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    
    body {
        background: linear-gradient(135deg, #222A68, #ab81cd);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.widthWarning {
    display: none;
}

.wrapper {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}
.credit {
    position: absolute;
    display: flex;
    bottom: 0;
    font-size: 1em;

    p {
        display: block;
        align-self: center;
        text-align: center;
    }
    > div {
        margin: 1em 2em;
        width: fit-content;
        ;

        a {
            // display: block;
        }
        img {
            display: block;
            width: 3em;
            height: 3em;
            margin: auto;
        }
    }
}
@media all and (max-height: 650px) and (orientation: landscape) {
    html {
        height: 700px;
    }
    .wrapper {
        position: relative;
    }
    .game-container {
        position: absolute;
        top: 0;
        margin: 5em;
        background-color: rgb(195, 170, 140);
        width: 700px;
        height: 500px;
        display: grid;
        box-shadow: 0px 0px 10px rgba(55, 55, 55, 0.7);
    }
    .credit {
        position: absolute;
        justify-content: center;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);

        p {
            margin-left: 1em;
        }
    }
}
@media all and (max-width: 415px) and (orientation: portrait) {
    body {
        position: fixed;
    }
    .widthWarning {
        z-index: 3;
        display: flex;
        width: 100%;
        height: 100%;
        background: #222A68;
        p {
            color: white;
            text-align: center;
            align-self: center;
            justify-self: center;
            margin: 1em;
        }
    }
    .game-container {
        width: 0;
        height: 0;
        overflow: hidden;
        display: none;
        
    }
}

.game-container {
    position: absolute;
    background-color: rgb(195, 170, 140);
    width: 700px;
    height: 500px;
    display: grid;
    box-shadow: 0px 0px 10px rgba(55, 55, 55, 0.7);
}

#game-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/dress_up_game/bg.png");
}

/* Button Styles */
#next-base, #next-hair, #next-top, #next-bottom, #next-shoe{
    position: relative;
    left: 7em;
    width: 6em;
    height: 25px;
    padding: 0 2em 0 0.7em;
    text-align: left;
    color: white;

    background: url("../img/dress_up_game/test/next-btn.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0;

    border-radius: 25%;
    border: 1px solid rgb(14, 46, 115);
    box-shadow: 3px 3px 5px rgba(55, 55, 55, 0.7);
}
#prev-base, #prev-hair, #prev-top, #prev-bottom, #prev-shoe{
    position: relative;
    width: 6em;
    height: 25px;
    padding: 0  0.7em 0 2em;
    text-align: right;
    color: white;

    background: url("../img/dress_up_game/test/prev-btn.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0;

    border-radius: 25%;
    border: 1px solid rgb(14, 46, 115);
    box-shadow: 3px 3px 5px rgba(55, 55, 55, 0.7);
}

/* When hovering over the buttons! */
#next-base:hover, #prev-base:hover, #next-hair:hover, #prev-hair:hover, #next-top:hover, #prev-top:hover, #next-bottom:hover, #prev-bottom:hover, #next-shoe:hover, #prev-shoe:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

/* The clothes to overite the character */
#game-bg {
    background: url("../img/dress_up_game/bg.png");
    width: 100%;
    height: 100%;
    position: absolute;
}
#base {
    background: url("../img/dress_up_game/base/base_1.png");
    width: 100%;
    height: 100%;
    position: absolute;
}
#hair {
    background: url("../img/dress_up_game/hair/hair_1.png");
    width: 100%;
    height: 100%;
    position: absolute;
}
#top {
    background: url("../img/dress_up_game/top/top_1.png");
    width: 100%;
    height: 100%;
    position: absolute;
}
#bottom {
    background: url("../img/dress_up_game/bottom/bottom_1.png");
    width: 100%;
    height: 100%;
    position: absolute;
}
#shoes {
    background: url("../img/dress_up_game/shoes/shoes_1.png");
    width: 100%;
    height: 100%;
    position: absolute;
}


/* Button Position Set Up */
form {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "logo-left logo base-right"
    "base-left base base-right"
    "head-left head head-right"
    "top-left top top-right"
    "blank-left blank blank-right"
    "bottom-left bottom bottom-right"
    "feet-left feet feet-right";
}

/* Positions of the buttons on the grid */
.color-section {
    font-size: 12px;
    grid-area: base-right;
    align-self: center;
    width: min-content;
    color: white;
    text-align: center;
    margin-left: 2em;
    border: none;
}
input[type=range] {
    margin: 1em;
}

// Next Buttons
#next-base {
    grid-area: head-right;
    align-self:flex-start;
    margin-left: 2em;
}
#next-hair {
    grid-area: head-right;
    align-self: end;
    margin-left: 2em;
}
#next-top {
    grid-area: top-right;
    align-self: end;
    margin-left: 2em;
}
#next-bottom {
    grid-area: bottom-right;
    margin-left: 2em;
}
#next-shoe {
    grid-area: feet-right;
    margin-left: 2em;
}
// Previous Buttons
#prev-base {
    grid-area: head-right;
    align-self:flex-start;
    margin-left: 2em;
}
#prev-hair {
    grid-area: head-right;
    align-self: end;
    margin-left: 2em;
}
#prev-top {
    grid-area: top-right;
    align-self: end;
    margin-left: 2em;
}
#prev-bottom {
    grid-area: bottom-right;
    margin-left: 2em;
}
#prev-shoe {
    grid-area: feet-right;
    margin-left: 2em;
}

/* RADIO BUTTONS TO SELECT WHICH ITEM TO COLOR */
#base-color {
    grid-area: head-right;
    align-self: flex-start;
    margin: .35em 0 0 0;
}
#hair-color {
    grid-area: head-right;
    align-self: flex-end;
    margin: 0 0 .35em 0;
}
#top-color {
    grid-area: top-right;
    align-self: flex-end;
    margin: 0 0 .35em 0;
}
#bottom-color {
    grid-area: bottom-right;
    margin: .35em 0 0 0;
}
#shoes-color {
    grid-area: feet-right;
    margin: .35em 0 0 0;
}



