@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: 'Open Sans', 'sans serif';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  cursor: default;
}

html {
  height: 100%;
}

html body {
  width: 100%;
  background: linear-gradient(135deg, #222A68, #ab81cd);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media all and (min-width: 1008px) {
  * {
    font-size: medium;
  }
  .container {
    width: 100%;
  }
  .container::before {
    content: '</>';
    width: 1vh;
    height: 1vh;
    font-size: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    opacity: 5%;
    z-index: -10;
    -webkit-animation: bg-anim ease-in-out 15s infinite;
            animation: bg-anim ease-in-out 15s infinite;
  }
  @-webkit-keyframes bg-anim {
    0% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
    60% {
      -webkit-transform: rotateZ(15deg);
              transform: rotateZ(15deg);
    }
    100% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
  }
  @keyframes bg-anim {
    0% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
    60% {
      -webkit-transform: rotateZ(15deg);
              transform: rotateZ(15deg);
    }
    100% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
  }
}

@media all and (min-width: 641px) and (max-width: 1007px) {
  * {
    font-size: medium;
  }
  .container {
    width: 100%;
  }
  .container::before {
    content: '</>';
    width: 1vh;
    height: 1vh;
    font-size: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    opacity: 5%;
    z-index: -10;
    -webkit-animation: bg-anim ease-in-out 15s infinite;
            animation: bg-anim ease-in-out 15s infinite;
  }
  @-webkit-keyframes bg-anim {
    0% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
    60% {
      -webkit-transform: rotateZ(15deg);
              transform: rotateZ(15deg);
    }
    100% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
  }
  @keyframes bg-anim {
    0% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
    60% {
      -webkit-transform: rotateZ(15deg);
              transform: rotateZ(15deg);
    }
    100% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
  }
}

@media all and (max-width: 640px) {
  * {
    font-size: small;
  }
  .container {
    width: 100%;
  }
  .container::before {
    content: '</>';
    width: 1vh;
    height: 1vh;
    font-size: 50vw;
    position: absolute;
    left: 50vw;
    top: 23vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    opacity: 5%;
    z-index: -10;
    -webkit-animation: bg-anim ease-in-out 15s infinite;
            animation: bg-anim ease-in-out 15s infinite;
  }
  @-webkit-keyframes bg-anim {
    0% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
    60% {
      -webkit-transform: rotateZ(15deg);
              transform: rotateZ(15deg);
    }
    100% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
  }
  @keyframes bg-anim {
    0% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
    60% {
      -webkit-transform: rotateZ(15deg);
              transform: rotateZ(15deg);
    }
    100% {
      -webkit-transform: rotateZ(-15deg);
              transform: rotateZ(-15deg);
    }
  }
  #nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 20vh;
    width: 100%;
  }
  #nav-bar #theme-btn {
    width: 3em;
    height: 3em;
    margin: 1em 1em;
    background-color: transparent;
    border-radius: 50%;
  }
  #nav-bar #nav-items-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 2em;
    margin-top: 1.3em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #nav-bar #nav-items-parent:last-child {
    margin-right: 10em;
  }
  #nav-bar #nav-items-parent a {
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    margin: 0 1em;
    padding: .45em 1em;
    border: 1px solid white;
    color: #e2adf2;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #nav-bar #nav-items-parent a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
  #profile-section {
    min-height: 80vh;
  }
  #profile-section #my-name {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    text-align: center;
    position: relative;
  }
  #profile-section #my-name::after {
    content: '|';
    display: inline-block;
    -webkit-animation: typer 1.6s infinite;
            animation: typer 1.6s infinite;
  }
  @-webkit-keyframes typer {
    0% {
      opacity: 0%;
    }
    30% {
      opacity: 100%;
    }
    40% {
      opacity: 100%;
    }
    95% {
      opacity: 0%;
    }
    100% {
      opacity: 0%;
    }
  }
  @keyframes typer {
    0% {
      opacity: 0%;
    }
    30% {
      opacity: 100%;
    }
    40% {
      opacity: 100%;
    }
    95% {
      opacity: 0%;
    }
    100% {
      opacity: 0%;
    }
  }
  #profile-section #basic-info {
    margin-top: 5em;
    margin-bottom: 5em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 3em;
  }
  #profile-section #basic-info p {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background-color: #222a68a2;
    border-radius: 3em;
    padding: 3em;
    width: 20em;
    text-align: center;
    line-height: 1.8em;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #profile-section #basic-info p:hover {
    -webkit-transform: scale(103%, 103%);
            transform: scale(103%, 103%);
    background-color: #ab81cd97;
  }
  #interests {
    background-color: #222a68a2;
    border-radius: 3em;
    padding: 3em;
    width: 20em;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #interests:hover {
    -webkit-transform: scale(103%, 103%);
            transform: scale(103%, 103%);
    background-color: #ab81cd97;
  }
  #interests ul li {
    font-weight: 400;
    list-style: none;
    margin: .2em 0;
  }
  #interests ul li:first-child {
    border-top: 1px inset white;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
  }
  #interests ul li:hover {
    border-bottom: 1px solid white;
  }
  #interests ul li:hover::before {
    content: '';
    -webkit-animation: list-focus 1s ease-out both;
            animation: list-focus 1s ease-out both;
    display: inline-block;
  }
  @-webkit-keyframes list-focus {
    0% {
      opacity: 0%;
      border-top: .4em solid transparent;
      border-left: .4em solid #e2adf2;
      border-bottom: .4em solid transparent;
      -webkit-transform: translateX(-2em);
              transform: translateX(-2em);
    }
    100% {
      opacity: 100%;
      border-top: .4em solid transparent;
      border-left: .4em solid #e2adf2;
      border-bottom: .4em solid transparent;
      margin-right: 1em;
    }
  }
  @keyframes list-focus {
    0% {
      opacity: 0%;
      border-top: .4em solid transparent;
      border-left: .4em solid #e2adf2;
      border-bottom: .4em solid transparent;
      -webkit-transform: translateX(-2em);
              transform: translateX(-2em);
    }
    100% {
      opacity: 100%;
      border-top: .4em solid transparent;
      border-left: .4em solid #e2adf2;
      border-bottom: .4em solid transparent;
      margin-right: 1em;
    }
  }
  #interests ul li:first-child::after {
    content: '🐈';
    margin-left: 40%;
    opacity: 0%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #interests ul li:first-child:hover::after {
    content: '🐈';
    margin-left: 60%;
    opacity: 100%;
  }
  #interests ul li:nth-child(2)::after {
    content: '🍅';
    margin-left: 40%;
    opacity: 0%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #interests ul li:nth-child(2):hover::after {
    content: '🍅';
    margin-left: 20%;
    opacity: 100%;
  }
  #interests ul li:nth-child(3)::after {
    content: '🎮';
    margin-left: 40%;
    opacity: 0%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #interests ul li:nth-child(3):hover::after {
    content: '🎮';
    margin-left: 20%;
    opacity: 100%;
  }
  #interests ul li:nth-child(4)::after {
    content: '📖';
    margin-left: 40%;
    opacity: 0%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #interests ul li:nth-child(4):hover::after {
    content: '📖';
    margin-left: 20%;
    opacity: 100%;
  }
  #interests ul li:nth-child(5)::after {
    content: '🎨';
    margin-left: 40%;
    opacity: 0%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #interests ul li:nth-child(5):hover::after {
    content: '🎨';
    margin-left: 20%;
    opacity: 100%;
  }
  #bio {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3em;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #bio div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  #bio div h2 {
    font-size: 16px;
    margin-bottom: 2em;
  }
  #bio div p {
    width: 100%;
    line-height: 1.7em;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5em;
    border-radius: 20%;
  }
  #bio div img {
    margin-top: 5em;
    width: 30vw;
    -webkit-box-shadow: 0 0 10px #e2adf2;
            box-shadow: 0 0 10px #e2adf2;
  }
  #skills-section {
    display: -ms-grid;
    display: grid;
    margin: 1em 5em;
    -ms-grid-columns: 1fr 1fr minmax(0, 1fr);
        grid-template-columns: 1fr 1fr minmax(0, 1fr);
    -ms-grid-rows: 0.5fr 2fr;
        grid-template-rows: 0.5fr 2fr;
    height: 50vh;
  }
  #skills-section h3 {
    -ms-grid-column: 2;
    grid-column: 2;
    text-align: center;
    font-size: 3em;
    margin: 1em;
  }
  #skills-section #skill-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-column-gap: 3em;
            column-gap: 3em;
    row-gap: 5em;
  }
  #skills-section #skill-icons img {
    width: 100%;
  }
  #skills-section #skill-icons p {
    margin-top: .5em;
  }
  .skill-desc {
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 30vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em;
    text-align: center;
    background-color: #222a68be;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    bottom: 100%;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0%;
  }
  .skill-desc p {
    font-size: 6px;
  }
  .skill-desc::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 42%;
    border: .75rem solid transparent;
    border-bottom: none;
    border-top-color: #222a68be;
    -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  }
  #html-s > div, #css-s > div, #js-s > div, #scss-s > div, #sql-s > div, #github-s > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5em;
    height: 5em;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  #html-s > div:hover, #css-s > div:hover, #js-s > div:hover, #scss-s > div:hover, #sql-s > div:hover, #github-s > div:hover {
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
    margin: 0 3%;
  }
  #html-s > div:hover .skill-desc, #css-s > div:hover .skill-desc, #js-s > div:hover .skill-desc, #scss-s > div:hover .skill-desc, #sql-s > div:hover .skill-desc, #github-s > div:hover .skill-desc {
    display: block;
    opacity: 100%;
    bottom: 150%;
  }
}
/*# sourceMappingURL=main-style.css.map */