
// Main Color Components
$mainBGColor1: #222A68;
$mainBGColor2: #ab81cd;

$test: #301b52;

// Main variables
$navBarHeight: 10vh;


* {
    font-family: 'Open Sans', 'sans serif';
    font-size: medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    cursor: default;
}

html {
    height: 100%;

    body {
        width: 100%;
        background: linear-gradient(135deg, $mainBGColor1, $mainBGColor2);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

//Bigger screens
@media all and (min-width: 1008px) {
    * {
        font-size: 16px;
    }

    .container {
        overflow: auto;

    }
    .container::before {
        top: 50vh;
        font-size: 60vw;
    }


    header {
        margin: 3em 3em;
    }

    #nav-bar {
        height: $navBarHeight;

        & > div {
            margin: auto;

            #theme-btn {
                width: 5em;
                height: 5em; 
            }
        }
        #nav-items-parent {
            height: $navBarHeight;
            align-items: center;
            justify-content: flex-end;
            
            div {
                margin: 0 2em;
                a {
                    padding: 1.25em 3em;
                }
            }
        }
    }

    #my-name {
        margin: 1em 0 1em 0;
        font-size: 8em;
    }

    #profile-section {
        min-height: 100vh - $navBarHeight;
    }
    #basic-info {
        justify-content: space-evenly;
    }

    #bio {
        padding: 5em;
        height: fit-content;

        div {
            margin: 0 3vw;
            column-gap: 5vw;
        }
        h2 {
            font-size: 2em;
        }
        p {
            width: 100%;
            max-width: 35vw;
            height: 100%;
            margin: 3em 3em;
            font-size: 100%;
        }
        img {
            width: 15%;
        }
    }

    #skills-section {
        grid-template-rows: 1fr 2fr;

        h3 {
            font-size: 4em;
        }
    }

    #skill-icons {
        gap: 3em;
    }

    .skill-desc {
        max-width: 15vw;

        &::before {
            left: 46.5%;
        }
        p {
            font-size: 8px;
        }
    }

    #html-s > div, #css-s > div, #js-s > div, #scss-s > div, #sql-s > div, #github-s > div {
        flex-direction: column;
    }
}

// Medium Sized Screens
@media all and (min-width: 641px) and (max-width: 1007px) {

    * {
        font-size: 2vw;
    }

    .container {
        overflow: auto;

    }


    .container::before {
        top: 25vh;
    }

    header {
        margin: 3em 3em;
    }
    #theme-btn {
        width: 7vw;
        height: 7vw;
    }

    #nav-bar {
        align-items: center;
    }
    
    #nav-items-parent {
        height: fit-content;
        width: fit-content;
        column-gap: 2vw;
        justify-content: end;
        align-items: center;

        div {

            a {
                padding: 1em 1em;
            }
        }

    }

    #my-name {
        font-size: 6.5em;
        margin-bottom: 2em;
        margin-top: 10vw;
    }

    #basic-info {
        margin-bottom: 5em;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 3em;
    }

    #bio {
        padding: 3em;
        height: fit-content;

        div {
            flex-direction: column;

            h2 {
                font-size: 3vw;
                margin-bottom: 2em;
            }
            p {
                width: 100%;
                font-size: 15px;
            }
            img {
                margin-top: 3em;
                width: 30vw;
            }
        }
    }

    #skills-section {
        grid-template-rows: 0.5fr 2fr;

        h3 {
            font-size: 2.5em;
        }

        #skill-icons {
            column-gap: 3em;
            row-gap: 5em;
        }
    }

    .skill-desc {
        max-width: 15vw;

        &::before {
            left: 42%;
        }
        p {
            font-size: 7px;
        }
    }

    #html-s > div, #css-s > div, #js-s > div, #scss-s > div, #sql-s > div, #github-s > div {
        flex-direction: column;
    }

}

// Small Sized Screens
@media all and (max-width: 640px) {
    * {
        font-size: 3vw;
    }

    .container {
        overflow: auto;
    }
    .container::before {
        top: 23vh;
    }

    #theme-btn {
        width: 10vw;
        height: 10vw;
        margin: 0 1em;
    }

    header {
        margin: 2em 2em;
    }
    #nav-bar {
        align-items: center;

    }
    #nav-items-parent {
        height: 2em;
        width: fit-content;
        justify-content: end;
        column-gap: 2vw;
        align-items: center;

        div {

            a {
                font-size: 100%;
                padding: .45em 1em;
            }
        }
    }

    #my-name {
        font-size: 4em;
        margin-bottom: 2em;
    }

    #basic-info {
        margin-bottom: 5em;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 3em;
    }

    #bio {
        padding: 3em;
        height: fit-content;

        div {
            flex-direction: column;

            h2 {
                font-size: 16px;
                margin-bottom: 2em;
            }
            p {
                width: 100%;
            }
            img {
                margin-top: 3em;
                width: 30vw;
            }
        }
    }

    #skills-section {
        grid-template-rows: 0.5fr 2fr;

        h3 {
            font-size: 3em;
        }

        #skill-icons {
            column-gap: 3em;
            row-gap: 5em;
        }
    }

    .skill-desc {
        max-width: 15vw;

        &::before {
            left: 42%;
        }
        p {
            font-size: 6px;
        }
    }

    #html-s > div, #css-s > div, #js-s > div, #scss-s > div, #sql-s > div, #github-s > div {
        flex-direction: column;
    }
}


// MAIN LAYOUT ACROSS ALL DEVICES

.container {
    width: 100%;

    &::before {
        content: '</>';
        width: 1vh;
        height: 1vh;
        font-size: 50vw;
        position: absolute;
        left: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    
        opacity: 5%;
        z-index: -10;
    
        animation: bg-anim ease-in-out 15s infinite;
    
        @keyframes bg-anim {
            0% {   
                transform: rotateZ(-15deg)
            }
            60% {
                transform: rotateZ(15deg)

            }

            100% {
                transform: rotateZ(-15deg)
            }
        }
    }
}

#nav-bar {
    display: flex;
    height: $navBarHeight;
    width: 100%;

    #theme-btn {
        background-color: transparent;
        border-radius: 50%;
    }
    #nav-items-parent {
        display: flex;
        width: 100%;

        a {
            text-decoration: none;
            text-align: center;
            border: 1px solid white;
            color: #e2adf2;
            transition: all .5s;
            &:hover {
                color: white;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

#profile-section {
    min-height: 100vh -  $navBarHeight;

    #my-name {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        position: relative;
        &::after {
            content: '|';
            display: inline-block;
            animation: typer 1.6s infinite;
            @keyframes typer {
                0% {
                    opacity: 0%;
                }
                30% {
                    opacity: 100%;
                }
                40% {
                    opacity: 100%;
                }
                95% {
                    opacity: 0%;
                }
                100% {
                    opacity: 0%;
                }
            }
        }
    }
    #basic-info {
        margin-top: 5em;
        height: 100%;
        display: flex;
        p {
            height:min-content;
            background-color: #222a68a2;
            border-radius: 3em;
            padding: 3em;
            width: 20em;
            text-align: center;
            line-height: 1.8em;

            transition: all 1s;
            &:hover {
                transform: scale(103%, 103%);
                background-color: #ab81cd97;
            }
        }
    }
}

#interests {
    background-color: #222a68a2;
    border-radius: 3em;
    padding: 3em;
    width: 20em;
    height: min-content;

    transition: all 1s;
    &:hover {
        transform: scale(103%, 103%);
        background-color: #ab81cd97;
    }
    ul {

        li {
            font-weight: 400;

            list-style: none;
            margin: .2em 0;;

            &:first-child {
                border-top: 1px inset white;
                margin: 0.5em 0 0 0;
                padding: 0.5em 0 0 0;

            }
            &:hover {
                border-bottom: 1px solid white;

            }
            &:hover::before {
                content: '';
                animation: list-focus 1s ease-out both;
                display: inline-block;

                @keyframes list-focus {
                    0% {
                        opacity: 0%;
                        border-top: .4em solid transparent;
                        border-left: .4em solid #e2adf2;
                        border-bottom: .4em solid transparent;
                        transform: translateX(-2em);
                    }
                    100% {
                        opacity: 100%;
                        border-top: .4em solid transparent;
                        border-left: .4em solid #e2adf2;
                        border-bottom: .4em solid transparent;
                        margin-right: 1em;
                    }
                }
            }
            &:first-child::after {
                content: '🐈';
                margin-left: 40%;
                opacity: 0%;
                transition: all 1s;
            }
            &:first-child:hover::after {
                content: '🐈';
                margin-left: 60%;
                opacity: 100%;
            }
            &:nth-child(2)::after {
                content: '🍅';
                margin-left: 40%;
                opacity: 0%;
                transition: all 1s;
            }
            &:nth-child(2):hover::after {
                content: '🍅';
                margin-left: 20%;
                opacity: 100%;
            }
            &:nth-child(3)::after {
                content: '🎮';
                margin-left: 40%;
                opacity: 0%;
                transition: all 1s;
            }
            &:nth-child(3):hover::after {
                content: '🎮';
                margin-left: 20%;
                opacity: 100%;
            }
            &:nth-child(4)::after {
                content: '📖';
                margin-left: 40%;
                opacity: 0%;
                transition: all 1s;
            }
            &:nth-child(4):hover::after {
                content: '📖';
                margin-left: 20%;
                opacity: 100%;
            }
            &:nth-child(5)::after {
                content: '🎨';
                margin-left: 40%;
                opacity: 0%;
                transition: all 1s;
            }
            &:nth-child(5):hover::after {
                content: '🎨';
                margin-left: 20%;
                opacity: 100%;
            }
        }
    }
}

#bio {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;

    div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        p {
            line-height: 1.7em;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 5em;
            border-radius: 20%;
        }
        img {
            box-shadow: 0 0 10px #e2adf2;
        }
    }
}

#skills-section {
    display: grid;
    margin: 1em 10vw;
    grid-template-columns: 1fr 1fr minmax(0, 1fr);
    height: 50vh;

    h3 {
        grid-column: 2;
        text-align: center;
        margin: 1em;
    }
    #skill-icons {
        display: flex;
        align-content: flex-start;
        grid-row: 2;
        grid-column: 1 / 4;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        img {
            width: 100%;
        }
        p {
             margin-top: .5em;
        }
    }
}

.skill-desc {
    position: absolute;
    width: max-content;
    height: fit-content;
    padding: 1em;
    text-align: center;
    background-color: #222a68be;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    bottom: 100%;

    transition: all 0.5s ease-out;
    opacity: 0%;

    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 100%;

        border: .75rem solid transparent;
        border-bottom: none;

        border-top-color: #222a68be;
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    }
}

#html-s > div, #css-s > div, #js-s > div, #scss-s > div, #sql-s > div, #github-s > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;

    transition: all 0.5s ease-out;
    &:hover {
        transform: scale(2, 2);
        // transform-origin: center center;
        margin: 0 3%;
    }
    &:hover .skill-desc {
        display: block;
        opacity: 100%;

        bottom: 150%;
    }
}

#project-section {
    width: 100%;

    h4 {
        text-align: center;
        font-size: 4em;
    }
    #project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        // align-items: center;
        justify-items: center;
        gap: 5vh;
        margin: 5em 5em;

        .project {
            display: flex;
            flex-direction: column;
            background: #644597be;
            border-radius: 20%;
            height: 20em;
            width: 30em;

            justify-content: center;
            align-items: center;

            img {
                margin: auto;
                width: 70%;
                height: 70%;
            }
            p {
                margin-bottom: 2em;
            }
        }
    }
}