// Main Color Components
:root {
	--mainBGColor1: #222a68; //#222a68
	--mainBGColor2: #ab81cd; //#ab81cd
}
$test: #301b52;

// Main variables
$navBarHeight: 10vh;

* {
	font-family: 'Open Sans', 'sans serif';
	font-size: medium;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	cursor: default;
}

html {
	height: 100%;

	body {
		width: 100%;
	}
}

// MAIN LAYOUT / STYLE
@media all {
	.bg-dark {
		transition: all 1s;

		background: linear-gradient(
			135deg,
			var(--mainBGColor1),
			var(--mainBGColor2)
		);
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	// REF TEXT COLOR: #d8defd;

	.container {
		position: absolute;
		width: 100%;
		overflow: auto;

		&::before {
			content: '</>';
			width: 1vh;
			height: 1vh;
			font-size: 50vw;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			opacity: 15%;

			z-index: -2;
			animation: bg-anim ease-in-out 15s infinite;

			@keyframes bg-anim {
				0% {
					transform: rotateZ(-15deg);
				}
				60% {
					transform: rotateZ(15deg);
				}

				100% {
					transform: rotateZ(-15deg);
				}
			}
		}

		header {
			#nav-bar {
				height: $navBarHeight;
				width: 100%;
				align-items: center;

				.theme-btn {
					background-color: rgba(255, 255, 255, 0.25);
					border: none;
					border-bottom: solid 1px #fff;
					border-radius: 50%;
					margin: 2.25em;
					padding: 0.5em;

					touch-action: manipulation;
					-webkit-tap-highlight-color: transparent;
					outline-offset: 5px;
					& > svg {
						inline-size: 100%;
						block-size: 100%;
						stroke-linecap: round;
					}

					.sun-and-moon {
						circle {
							transition: all 0.5s;
							fill: black;
						}
						#sun-beams {
							transition: all 0.5s;
							stroke: transparent;
						}
						#black-circle {
							transition: all 0.5s;
							radius: 5;
							cy: 9;
							cx: 15;
						}
					}
				}
				.section-top-info {
					display: none;
					color: #d8defd;

					.section-info {
						color: #d8defd;
					}
				}

				#nav-toggle {
					display: none;
				}
				.turn-nav-toggle {
					transform: rotate(-90deg);
				}

				.mobile-menu #nav-items-parent li {
					list-style: none;
					.nav-item {
						color: #d8defd;
						background-color: transparent;
						border: 1px solid #4b64e3;
					}
				}
			}
		}

		main {
			#profile-section {
				min-height: 100vh - $navBarHeight;
				.my-name {
					color: white;
					font-family: 'Roboto', sans-serif;
					text-align: center;
					&::after {
						content: '|';
						display: inline-block;
						animation: typer 1.6s infinite;
						@keyframes typer {
							0% {
								opacity: 0%;
							}
							30% {
								opacity: 100%;
							}
							40% {
								opacity: 100%;
							}
							95% {
								opacity: 0%;
							}
							100% {
								opacity: 0%;
							}
						}
					}
				}
				#basic-info {
					display: flex;
					margin-bottom: 5em;
					align-items: center;
					flex-wrap: wrap;
					row-gap: 3em;

					p {
						height: min-content;
						background-color: #222a68a2;
						border-radius: 3em;
						padding: 3em;
						width: 20em;
						text-align: center;
						line-height: 1.8em;

						transition: all 1s;
						&:hover {
							transform: scale(103%, 103%);
							background-color: #ab81cd97;
						}
					}
				}
				.objective {
					color: #d8defd;
					&:hover {
						color: white;
					}
				}
				.interests {
					color: #d8defd;
					background-color: #222a68a2;
					border-radius: 3em;
					padding: 3em;
					width: 20em;
					height: min-content;

					transition: all 1s;
					&:hover {
						color: white;
						transform: scale(103%, 103%);
						background-color: #ab81cd97;
					}
					ul {
						li {
							font-weight: 400;

							list-style: none;
							margin: 0.2em 0;

							&:first-child {
								border-top: 1px inset white;
								margin: 0.5em 0 0 0;
								padding: 0.5em 0 0 0;
							}
							&:hover {
								border-bottom: 1px solid white;
							}
							&:hover::before {
								content: '';
								animation: list-focus 1s ease-out both;
								display: inline-block;

								@keyframes list-focus {
									0% {
										opacity: 0%;
										border-top: 0.4em solid
											transparent;
										border-left: 0.4em solid
											#e2adf2;
										border-bottom: 0.4em solid
											transparent;
										transform: translateX(-2em);
									}
									100% {
										opacity: 100%;
										border-top: 0.4em solid
											transparent;
										border-left: 0.4em solid
											#e2adf2;
										border-bottom: 0.4em solid
											transparent;
										margin-right: 1em;
									}
								}
							}
							&:first-child::after {
								content: '🐈';
								margin-left: 40%;
								opacity: 0%;
								transition: all 1s;
							}
							&:first-child:hover::after {
								content: '🐈';
								margin-left: 60%;
								opacity: 100%;
							}
							&:nth-child(2)::after {
								content: '🍅';
								margin-left: 40%;
								opacity: 0%;
								transition: all 1s;
							}
							&:nth-child(2):hover::after {
								content: '🍅';
								margin-left: 20%;
								opacity: 100%;
							}
							&:nth-child(3)::after {
								content: '🎮';
								margin-left: 40%;
								opacity: 0%;
								transition: all 1s;
							}
							&:nth-child(3):hover::after {
								content: '🎮';
								margin-left: 20%;
								opacity: 100%;
							}
							&:nth-child(4)::after {
								content: '📖';
								margin-left: 40%;
								opacity: 0%;
								transition: all 1s;
							}
							&:nth-child(4):hover::after {
								content: '📖';
								margin-left: 20%;
								opacity: 100%;
							}
							&:nth-child(5)::after {
								content: '🎨';
								margin-left: 40%;
								opacity: 0%;
								transition: all 1s;
							}
							&:nth-child(5):hover::after {
								content: '🎨';
								margin-left: 20%;
								opacity: 100%;
							}
						}
					}
				}
			}

			.bio-section {
				background-color: rgba(0, 0, 0, 0.5);
				width: 100%;

				div {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					height: 100%;

					.background {
						color: #d8defd;
					}
					.bg-para {
						line-height: 1.7em;
						background-color: rgba(255, 255, 255, 0.1);
						color: #d8defd;
						padding: 5em;
						border-radius: 20%;
						opacity: 0;
						transition: all 1s;
					}
					.translateU-animated {
						opacity: 100%;
						transform: translateY(0);
					}
				}
			}

			#skills-section {
				display: grid;
				margin: 1em 10vw;
				grid-template-columns: 1fr 1fr minmax(0, 1fr);
				height: 50vh;

				.skills {
					color: #d8defd;
				}

				h3 {
					grid-column: 2;
					text-align: center;
					margin: 1em;
				}
				.skill-icons {
					display: flex;
					align-content: flex-start;
					grid-row: 2;
					grid-column: 1 / 4;
					flex-wrap: wrap;
					justify-content: center;
					opacity: 0;
					transition: all 1s;

					.skill-desc p {
						text-shadow: none;
					}

					img {
						width: 100%;
						filter: drop-shadow(1px 1px 0 #222);
					}
					p {
						margin-top: 0.5em;
						color: #d8defd;
						text-shadow: 1px 1px #222;
					}
				}
				.fade-animated {
					opacity: 100%;
				}
				#html-s > div,
				#css-s > div,
				#js-s > div,
				#scss-s > div,
				#sql-s > div,
				#react-s > div,
				#tailwind-s > div,
				#github-s > div {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 5em;
					height: 5em;

					transition: all 0.5s ease-out;
					&:hover {
						transform: scale(2, 2);
						// transform-origin: center center;
						margin: 0 3%;
					}
					&:hover .skill-desc {
						display: block;
						opacity: 100%;

						bottom: 150%;
					}
				}
				.skill-desc {
					position: absolute;
					max-width: 20vw;
					height: fit-content;
					padding: 1em;
					text-align: center;
					background-color: #222a68be;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
					bottom: 100%;

					transition: all 0.5s ease-out;
					opacity: 0%;
					p {
						font-size: xx-small;
					}

					&::before {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						top: 100%;

						border: 0.75rem solid transparent;
						border-bottom: none;

						border-top-color: #222a68be;
						filter: drop-shadow(
							0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1)
						);
					}
				}
			}

			#projects-section {
				.project-text {
					transition: all 0.5s;
					text-align: center;
					color: #d8defd;
				}
				.filter-area {
					margin: 0 10vw;
					padding: 1em;

					p {
						font-size: 18px;
						text-align: center;
						margin-bottom: 1em;
						color: #d8defd;
					}
					.skill-list {
						display: flex;
						flex-wrap: wrap;
						height: fit-content;
						width: 100%;
						justify-content: center;
						gap: 1em;
						list-style: none;
						li {
							padding: 0.5em 1em;
							background-color: #222a687c;
							border-radius: 1em;
							color: #d8defd;

							transition: all 0.25s;
						}
						.skill-selected {
							background-color: #222a68;
							animation: skillSelected 0.5s forwards;
						}
						@keyframes skillSelected {
							0% {
								transform: scale(1);
							}
							50% {
								transform: scale(1.1);
							}
							100% {
								transform: scale(1);
							}
						}
					}
				}
				.project-grid {
					display: grid;
					max-height: fit-content;
					justify-items: center;
					background-color: #222a687c;
					border-radius: 1em;
					padding: 2em 1em;

					transition: all 1s;
					.free-the-games {
						background: url('../img/projects/video-game-list-thumbnail.jpg')
							no-repeat;
					}
					.dress-up-game {
						background: url('../img/projects/dress-up-thumbnail.jpg')
							no-repeat;
					}
					.mini-expense-tracker {
						background: url('../img/projects/mini-expense-tracker-thumbnail.jpg')
							no-repeat;
					}
					.project {
						display: flex;
						flex-direction: column;
						height: 18vw;
						width: 25vw;
						justify-content: end;
						background-color: #222a68;
						opacity: 100%;
						background-size: contain;
						background-position: center;
						border-radius: 1em;

						transition: all 1s;

						.project-title {
							color: #fff;
							background-color: rgba(0, 0, 0, 0.5);
							text-align: center;
							padding: 0.5rem 0;
						}
					}
					.fade-animated {
						opacity: 100%;
					}
				}
				.project-disclaimer {
					text-align: center;
					margin: 1em 5em;
					color: rgba(255, 255, 255, 0.5);
				}
			}

			#contact-section {
				background-color: #222a68;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				.contact-title {
					transition: all 0.5s;
					font-size: 2.5em;
					margin: 1em 0;
					color: #d8defd;
				}
				form {
					opacity: 0;
					color: #d8defd;
					transform: scale(1.5);
					display: flex;
					flex-direction: column;
					padding: 3vh 3vw;
					background-color: rgba(0, 0, 0, 0.15);
					border-radius: 0.5em;
					border: 1px solid rgba(255, 255, 255, 0.15);
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
						inset 0 0 10px rgba(255, 255, 255, 0.15);
					margin-bottom: 3em;
					transition: all 1s;

					&:hover {
						background-color: rgba(255, 255, 255, 0.01);
					}
					input {
						color: white;
						border: rgba(255, 255, 255, 0.5);
						box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
						background-color: rgba(0, 0, 0, 0.25);
						border-radius: 0.25em;
					}
					#name {
						width: 10em;
					}
					#email-subject {
						width: 10em;
					}
					#email {
						width: 10em;
					}
					#message {
						resize: none;
						min-height: 1.5em;
						height: 10em;
						color: white;
						border: rgba(255, 255, 255, 0.5);
						box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
						background-color: rgba(0, 0, 0, 0.25);
						border-radius: 0.25em;
						margin-bottom: 1em;
					}
					#submit {
						margin: auto;
						height: 3em;
						width: 10em;
						transition: all 0.5s;
					}
				}
				.scale-animated {
					opacity: 100%;
					transform: scale(1);
				}
				.email-after {
					display: none;
					position: fixed;
					z-index: 3;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: rgba(0, 0, 0, 0.5);
					.info-holder {
						display: grid;
						height: 100%;
						place-items: center;
						text-align: center;
						p {
							background-color: rgba(
								$color: #fff,
								$alpha: 0.25
							);
							line-height: 2em;
							padding: 3vw;
							border-radius: 5em;
						}
					}
				}
				.email-success {
					display: block;
				}
			}
		}

		footer {
			margin-top: 3em;
			width: 100%;
			height: 8.5em;

			.to-top {
				display: flex;
				align-items: center;
				justify-content: center;
				position: fixed;
				right: 3vw;
				bottom: 5vh;
				z-index: 1;
				right: 3vw;
				width: 5em;
				height: 5em;
				border-radius: 50%;
				box-shadow: 0 0 10px rgba (0, 0, 0, 0.5);
				background: linear-gradient(
					0deg,
					var(--mainBGColor1),
					var(--mainBGColor2)
				);
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
				transition: all 1s;
			}

			#social-media {
				width: 100%;
				height: 5em;
				padding: 1em;
				background-color: #222a68;
				background: linear-gradient(
					to right,
					transparent,
					#222a68,
					transparent
				);

				.sm-parent {
					display: flex;
					align-items: center;
					justify-content: center;
					align-items: center;
					height: 100%;

					transform: translateX(-20vw);
					opacity: 0;
					gap: 2em;
					transition: all 1s;
					i {
						margin-left: 0.5em;
					}
				}
				.translateR-animated {
					opacity: 100%;
					transform: translateX(0);
				}
			}
			.end {
				text-align: center;
				margin: 1em 0;
			}
		}
	}
}

//Bigger screens
@media all and (min-width: 1008px) {
	* {
		font-size: 16px;
	}

	.container {
		width: 100%;
		overflow: auto;
		&::before {
			top: 50vh;
			left: 47vw;
		}

		header {
			#nav-bar {
				display: flex;
				justify-content: space-between;

				.theme-btn {
					position: fixed;
					top: 0;
					z-index: 3;
					width: 3em;
					height: 3em;
				}
				.section-top-info {
					display: block;
					border-left: 1px rgba(255, 255, 255, 0.25) solid;
					border-right: 1px rgba(255, 255, 255, 0.25) solid;
					padding: 1.5em 1em;
					position: absolute;
					top: 1.5em;
					left: 7.5em;
				}

				.nav-toggle {
					display: none;
				}

				.mobile-menu {
					transition: all 0.5s;

					top: 0;
					z-index: 2;
					width: 100%;
					position: fixed;
					box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
					background-color: #222a68;

					#nav-items-parent {
						display: flex;
						justify-content: flex-end;
						gap: 5em;
						li {
							margin: 2.5em 0;

							.nav-item {
								font-size: 1em;
								width: 6em;
								height: 2.5em;
								text-decoration: none;
								transition: all 0.25s;
								&:hover {
									background-color: rgba(
										255,
										255,
										255,
										0.25
									);
								}
							}
							&:last-child {
								margin-right: 5vw;
							}
						}
						a {
							text-decoration: none;
							text-align: center;
							border: 1px solid white;
							color: white;
							transition: all 0.5s;
							&:hover {
								color: white;
								background-color: rgba(
									255,
									255,
									255,
									0.1
								);
							}
						}
					}
				}
			}
		}

		main {
			#profile-section {
				.my-name {
					margin: 1em 0 1em 0;
					font-size: 8em;
				}
				#basic-info {
					justify-content: space-evenly;
				}
			}

			.bio-section {
				padding: 5em;
				height: fit-content;

				div {
					margin: 0 3vw;
					column-gap: 5vw;
					p {
						width: 100%;
						max-width: 50vw;
						height: 100%;
						margin: 3em 3em;
						font-size: 100%;
						transform: translateY(100px);
					}
				}
				h2 {
					font-size: 2em;
				}
			}

			#skills-section {
				min-height: 70vh;
				grid-template-rows: 1fr 2fr;

				h3 {
					font-size: 4em;
				}
				.skill-icons {
					align-content: center;
					column-gap: 3em;
					gap: 3em;
				}
				.skill-desc {
					width: max-content;

					&::before {
						left: 46.5%;
					}
					p {
						font-size: 8px;
					}
				}
			}

			#projects-section {
				min-height: 70vh;
				margin-top: 10vw;
				width: 100%;

				h4 {
					text-align: center;
					font-size: 4em;
					margin-bottom: 2em;
				}
				.project-grid {
					grid-template-rows: auto;

					grid-template-columns: 1fr 1fr 1fr;
					gap: 3.5vw;
					margin: 3vh 3vh;

					.project {
						transition: all 0.5s;
						// justify-content: center;
						background-color: transparent;
						.project-title {
							opacity: 0;
							transform: translateY(-200%);
							text-align: center;
							background-color: rgba(255, 255, 255, 0.5);
							padding: 0.5rem 0;

							transition: all 0.5s;
						}
					}
					.project-parent {
						transition: all 0.5s;
						border-radius: 1em;
						filter: saturate(0) brightness(0.75);

						&:hover {
							transform: scale(1.1);
							background-color: #fff;
							filter: brightness(1) saturate(1);
							transform-origin: center;
							.project {
								background-position: top;
								filter: drop-shadow(0 5px 5px #222);
								box-shadow: inset 1px 1px 0 #222,
									inset -1px 0 1px #222;
								.project-title {
									transform: translateY(-10%);
									filter: drop-shadow(
										0 0 0 transparent
									);
									color: black;
									opacity: 100%;
									background-color: transparent;
								}
							}
						}
					}
					.project-parent-hide {
						display: none;
					}
				}
			}

			#contact-section {
				height: 70vh;
				min-height: 495px;
				margin: 20vh 0 10vh 0;
				form {
					justify-content: space-evenly;
					height: fit-content;
					min-height: 310px;
					width: 25vw;
					min-width: 500px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
						inset 0 0 10px rgba(255, 255, 255, 0.15);
					margin: auto;
					input {
						margin-bottom: 1em;
					}
					#submit {
						&:hover {
							background-color: rgba(0, 0, 0, 0.5);
						}
					}
				}
			}
		}

		footer {
			.to-top:hover {
				background: linear-gradient(
					0deg,
					var(--mainBGColor2),
					var(--mainBGColor1)
				);
			}
		}
	}
}

// HEADER ON TOP COLOR (ONLY FOR BIGGER SCREENS)
.container header #nav-bar .light-mobile-menu {
	background-color: #4251c7;
	border-bottom: 1px solid #3643a3;
}

// Medium Sized Screens
@media all and (min-width: 641px) and (max-width: 1007px) {
	* {
		font-size: 2vw;
	}

	.container {
		&::before {
			top: 40vw;
			left: 50vw;
			margin: 0;
		}
		header {
			#nav-bar {
				.theme-btn {
					position: fixed;
					width: 7.25vw;
					height: 7.25vw;
				}

				.light-mobile-menu {
					background-color: transparent;
					border-bottom: none;
				}
				.mobile-menu {
					position: fixed;
					right: 0;
					top: 0;
					z-index: 1;

					.nav-toggle {
						width: 7vw;
						height: 7vw;

						margin: 4vw;

						background: url('../img/logo/menu-logo.svg')
							no-repeat center;
						background-size: contain;
						transition: all 0.5s;
					}
					.nav-menu {
						right: 0;
						position: fixed;
						height: 0;
						width: 20vw;
						overflow: hidden;
						transition: all 1s;
						opacity: 0;

						background-color: #e2adf2b8;

						transition: all 1s;
						li {
							display: table;
							opacity: 100%;

							list-style: none;
							text-align: center;
							overflow: hidden;
							width: 7em;
							height: 3em;
							margin: 1em 1em;

							transition: all 1s;
							.nav-item {
								display: table-cell;
								vertical-align: middle;
								text-decoration: none;
								font-size: 1.1em;
								width: 6em;
								height: 2.5em;
							}
						}
					}
					.show-menu {
						right: 0;
						height: 35vw;
						opacity: 100%;

						transition: all 1s;
					}
				}
			}
		}

		main {
			#profile-section {
				height: 100vh - $navBarHeight;
				.my-name {
					font-size: 6.5em;
					margin-bottom: 2em;
					margin-top: 10vw;
				}
				#basic-info {
					justify-content: space-evenly;
				}
			}

			.bio-section {
				padding: 3em;
				div {
					flex-direction: column;
					h2 {
						font-size: 3vw;
						margin-bottom: 2em;
					}
					p {
						font-size: 15px;
						transform: translateY(10vh);
					}
				}
			}

			#skills-section {
				grid-template-rows: 0.5fr 2fr;

				h3 {
					font-size: 2.5em;
				}
				.skill-icons {
					gap: 5em;
				}
				.skill-desc {
					width: 25vw;
					&::before {
						left: 42%;
					}
					p {
						font-size: 7px;
					}
				}
			}

			#projects-section {
				min-height: 70vh;
				margin-top: 7em;
				h4 {
					font-size: 2.5em;
					text-align: center;
					margin-bottom: 1em;
				}
				.project-grid {
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto;
					gap: 3.5vw;
					margin: 0 2em;
					.project {
						height: 27vw;
						width: 37vw;
					}
				}
			}

			#contact-section {
				margin-top: 3em;
				height: 50vh;
				min-height: 630px;

				form {
					height: 35vh;
					min-height: 410px;
					width: 70vw;

					input {
						margin-bottom: 0.5em;
					}
					#message {
						margin-bottom: 0.75em;
					}
				}
			}
		}
	}
}
// Small Sized Screens
@media all and (max-width: 640px) {
	* {
		font-size: 3.5vw;
	}

	.container {
		width: 100%;
		overflow: auto;
		&::before {
			top: 23vh;
			left: 50vw;
			margin: 0;
			opacity: 5%;
		}
		header {
			#nav-bar {
				height: $navBarHeight;
				width: 100%;
				align-items: center;

				.theme-btn {
					position: fixed;
					border-radius: 50%;
					width: 9vw;
					height: 9vw;
					margin: 1.5em;
				}

				.light-mobile-menu {
					background-color: transparent;
					border-bottom: none;
				}
				.mobile-menu {
					position: fixed;
					right: 0;
					top: 0;
					z-index: 1;

					.nav-toggle {
						width: 9vw;
						height: 9vw;

						margin: 4vw;

						background: url('../img/logo/menu-logo.svg')
							no-repeat center;
						background-size: contain;
						transition: all 0.5s;
					}
					.nav-menu {
						position: fixed;
						right: 0;
						height: 0;
						overflow: hidden;
						opacity: 0;

						background-color: #e2adf2b8;

						transition: all 1s;
						li {
							opacity: 100%;
							display: table;
							list-style: none;
							text-align: center;
							overflow: hidden;
							width: 7em;
							height: 3em;
							margin: 1em 1em;
							.nav-item {
								display: table-cell;
								vertical-align: middle;
								text-decoration: none;
								font-size: 1.1em;
								width: 6em;
								height: 2.5em;
							}
						}
					}
					.show-menu {
						right: 0;
						height: 60vw;
						opacity: 100%;
					}
				}
			}
		}

		main {
			#profile-section {
				min-height: 100vh - $navBarHeight;
				margin-top: 3em;

				.my-name {
					font-family: 'Roboto', sans-serif;
					font-size: 4em;
					margin-bottom: 2em;
				}
				#basic-info {
					margin-top: 5em;
					height: 100%;
					flex-direction: column;
					justify-content: space-between;
				}
			}

			.bio-section {
				padding: 3em;
				min-height: 100vh;

				div {
					flex-direction: column;

					h2 {
						font-size: 1.5em;
						margin-bottom: 2em;
					}
					p {
						transform: translateY(10vh);
					}
				}
			}

			#skills-section {
				grid-template-rows: 0.5fr 2fr;

				h3 {
					font-size: 3em;
				}
				.skill-icons {
					column-gap: 10vw;
					row-gap: 5vh;
				}
				.skill-desc {
					width: 25vw;
					&::before {
						left: 33%;
					}
					p {
						font-size: 9px;
					}
				}
			}

			#projects-section {
				min-height: 70vh;
				margin-top: 7em;
				h4 {
					font-size: 2.5em;
					margin-bottom: 1em;
				}
				.project-grid {
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto;
					gap: 3.5vw;
					margin: 0 2em;
					.project {
						height: 27vw;
						width: 37.5vw;
					}
				}
			}

			#contact-section {
				margin-top: 3em;
				height: 50vh;
				min-height: 630px;
				form {
					height: 35vh;
					min-height: 300px;
					height: 50vh;
					width: 70vw;
					input {
						margin-bottom: 0.5em;
					}
				}
			}
		}
	}
}

//COLOR THEME OVERRIDE
@media all {
	// BG COLOR
	.bg-light {
		height: 100%;
		background: linear-gradient(135deg, #d09dfa, #5266fa);
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	// TEXT IN TOP SECTION IN HEADER
	.container header #nav-bar .mobile-menu .section-top-info {
		&.light-section-top {
			color: white;
		}
		.light-section-top {
			color: white;
		}
	}

	// THE SUN/MOON SYMBOL CHANGES
	.container header #nav-bar {
		.theme-btn {
			&.light-theme-btn {
				background-color: rgba(255, 255, 255, 0.25);
			}
			.light-sun-and-moon {
				circle {
					fill: yellow;
				}
			}

			.light-theme {
				#sun-beams {
					transition: all 0.5s ease-out;
					stroke: yellow;
				}
				#black-circle {
					transition: all 0.5s ease-in-out;
					cy: -15;
					cx: 24;
				}
			}
		}
		// THE NAV ITEMS TEXT
		.mobile-menu #nav-items-parent li .light-nav-item {
			color: white;
			border: 1px solid white;
		}
	}

	// MAIN SECTION
	.container main {
		#profile-section {
			.light-my-name {
				transition: all 0.5s;
				color: white;
				text-shadow: 1px 3px 0 #1d288186;
			}
			#basic-info {
				.light-objective {
					transition: all 0.5s;
					background-color: #4252c798;
					color: white;

					&:hover {
						background-color: #5266fa;
						// color: black;
					}
				}
				.light-interests {
					transition: all 0.5s;
					background-color: #4252c798;
					color: white;

					&:hover {
						background-color: #5266fa;
						// color: black;
					}
				}
			}
		}
		.bio-section {
			&.light-bio-section {
				transition: all 0.5s;

				background-color: #4b5de387;
			}
			div {
				.light-background {
					transition: all 0.5s;

					color: white;
				}
				.light-bg-para {
					transition: all 0.5s;

					background-color: transparent;
					color: white;

					overflow: hidden;

					// animation: line-anim 1s forwards;
					@keyframes line-anim {
						0% {
							width: 0;
						}
						100% {
							width: 100%;
						}
					}
					&::before {
						content: '';
						position: absolute;
						z-index: -1;
						top: 0;
						left: 50%;
						margin: -50% -50%;
						background-color: rgba(255, 255, 255, 0.1);
						width: 100%;
						height: 300;
						border-radius: 5em;

						animation: height-anim 2s forwards;
						@keyframes height-anim {
							0% {
								filter: brightness(0.75);
								height: 0;
							}
							100% {
								filter: brightness(1);
								height: 300%;
							}
						}
					}
				}
			}
		}
		#skills-section {
			.light-skills {
				transition: all 0.5s;
				text-shadow: 1px 1px 0 #222;
				color: white;
			}
			.skill-icons .light-skill-div {
				.skill-desc {
					transition: all 0.5s;

					background-color: #5266fab7;
					&::before {
						border-top-color: #5266fab7;
					}
					p {
						color: white;
						text-shadow: none;
					}
				}

				img {
					filter: drop-shadow(1px 2px 2px #222);
				}
				.skill-title {
					color: white;
					text-shadow: 1px 1px black;
				}
			}
		}
		#projects-section {
			.light-project-text {
				transition: all 0.5s;
				color: white;
				text-shadow: 1px 1px 0 #222;
			}
			.filter-area {
				&.light-filter-area {
					transition: all 0.5s;
					p {
						color: white;
						text-shadow: 1px 1px 0 #222;
					}
				}

				.skill-list {
					.light-skill-list {
						transition: all 0.5s;
						color: white;
						background-color: #5266fa8e;
					}
					.light-skill-selected {
						transition: all 0.5s;
						text-shadow: 1px 2px 0 #222;
						background-color: #d09dfa8f;
						animation: lightSkillSelected 0.5s forwards;
					}
					@keyframes lightSkillSelected {
						0% {
							transform: scale(1);
						}
						50% {
							transform: scale(1.1);
						}
						100% {
							transform: scale(1);
						}
					}
				}
			}
			.light-project-grid {
				transition: all 0.5s;
				background-color: #5266fa8e;
			}
		}
		#contact-section {
			&.light-contact-section {
				transition: all 0.5s;
				background-color: #5266fa;
			}
			.light-contact-title {
				transition: all 0.5s;
				color: white;
				text-shadow: 1px 2px 0 #222;
			}
			#contact-form {
				&.light-form {
					color: white;
				}
			}
		}
	}
}
